<div class="row align-self-center justify-content-center">
  <div class="col-4">
    <form (ngSubmit)="onSubmit()" #newBillboardForm="ngForm">
      {{diagnostic}}
        <div class="form-group">
          <label for="billboardName">Nombre</label>
          <input type="text" class="form-control" id="billboardName" required
          [(ngModel)]="model.name" name="billboardName">
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value={{tag.id}} id="tag_"{{tag.id}}>
          <label class="form-check-label" for="tag_"{{tag.id}}>
            {{tag.name}}
          </label>
        </div>
        <button type="submit" class="btn btn-primary"
        [disabled]="!newBillboardForm.form.valid">Login</button>
      </form>
    </div>
</div>