<header>
  <app-navbar></app-navbar>
</header>
<main class="container-fluid">
  <router-outlet></router-outlet>
</main>
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-auto mr-auto">
        <span class="text-muted">Taller de tecnologias de produccion de software</span>
      </div>
      <div class="col-sm-auto">
        <span class="text-muted">Facultad de Informatica - UNLP</span>
      </div>
    </div>
  </div>
</footer>


