<div class="row align-self-center justify-content-center">
  <div class="col-4">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      {{diagnostic}}
        <div class="form-group">
          <label for="userID">Usuario</label>
          <input type="text" class="form-control" id="userID" required
          [(ngModel)]="model.userID" name="userID">
        </div>
        <div class="form-group">
          <label for="userPWD">Password</label>
          <input type="password" class="form-control" id="userPWD" required
          [(ngModel)]="model.userPWD" name="userPWD">
        </div>
        <button type="submit" class="btn btn-primary"
        [disabled]="!loginForm.form.valid">Login</button>
      </form>
    </div>
</div>
